<div class="container mt-sm-5 my-1">
    <div class="mainclass" >
    <div class="question ml-sm-5 pl-sm-5 pt-2" *ngIf="questions.length > 0 && num < questions.length; else elseBlock">
        <h5>Current Scores: {{scroes}}</h5>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10"
                aria-valuemin="30" aria-valuemax="100" [style.width]="width+'%'"></div>
                
        </div>
        <h5>progess: {{qnProgress + 1}}</h5>
        <div class="py-2 h5" [innerHtml]="questions[num].question"><b>Q-{{num + 1}}</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> 
            <div *ngFor ="let ans of questions[num].incorrect_answers">
            <label class="options">{{ans}}
                <input type="radio" (click)="checkAnswer(questions[num].correct_answer, ans)" name="radio"> 
                <span class="checkmark"></span> 
            </label> 
            </div>
            <div class="ml-auto mr-sm-5"> <button (click)="start()" class="btn btn-success">Restart Quiz</button> </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="d-flex align-items-center pt-3">
            <h4>Your Scores: {{scroes}}</h4>
            <div class="ml-auto mr-sm-5"> <button (click)="start()" class="btn btn-success">Restart Quiz</button> </div>
        </div>
    </ng-template>

    
    </div>



</div>