/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{

     background-image: url('./assets/images/bg3.gif');
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-position: 100% 110%;
    background-repeat: no-repeat;
    overflow:hidden;
}